# Para HealthGuideAI_Gemini.ipynb (Gemini)
GEMINI_API_KEY=tu_api_key_de_gemini_aqui

# Para HealthGuideAI_Gemini.ipynb (NVIDIA) #Estamos trabajando sobre este modelo para la demo
NVIDIA_API_KEY=tu_api_key_de_nvidia_aqui
